# Python
__pycache__/
*.py[cod]
*.pyd

# Virtual environments
.venv/
venv/
env/

# Secrets
.env
.env.*

# Large datasets / videos
dataset/
Dataset/
processed_data/
*.mp4

# ML model weights
*.pth
*.pt
*.pkl

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/

# Logs
*.log